@model IEnumerable<Pegasus.Models.AITISI_SCHOOLSViewModel>

@{
    ViewBag.Title = "Λίστα Σχολείων";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="page-header">
    <div>
        <span style="font-family:'Segoe UI';font-size:x-large;text-shadow:1px 1px #8c8c8c">
            <font style="color:#494949;font-family:'Segoe UI'">Επιλογή Σχολικών Μονάδων ανά Περιφέρεια Αίτησης</font>
        </span>
        <span style="margin:0px 5px 5px 5px;float:right;font-family:'Segoe UI';">@Html.ActionLink("Επιστροφή", "ListAitiseis", "TEACHERS", null, new { @class = "btn btn-warning", style = "font-size:16px" })</span>
        <button class="btn btn-primary" style="margin:0px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:16px" onclick="RefreshGrid()">Ανανέωση</button>
    </div>
</div>
<div class="body-content">
    <fieldset name="SelectedAitisiData">
        <legend>Στοιχεία επιλεγμένης Αίτησης</legend>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Πρωτόκολλο Αίτησης:</label>
            </div>
            <div class="col-md-9">
                <label class="form-control" style="max-height:34px; background-color:#EEE">@Html.Raw((ViewBag.SelectedAitisiData as Pegasus.Models.AitisisViewModel).AITISI_PROTOCOL)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Ημερομηνία Αίτησης:</label>
            </div>
            <div class="col-md-9">
                <label class="form-control" style="max-height:34px; background-color:#EEE">@Html.Raw(((DateTime)(ViewBag.SelectedAitisiData as Pegasus.Models.AitisisViewModel).AITISI_DATE).ToShortDateString())</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Κωδικός ειδικότητας Αίτησης:</label>
            </div>
            <div class="col-md-9">
                <label class="form-control" style="max-height:34px; background-color:#EEE">@Html.Raw((ViewBag.SelectedAitisiEidikotita as Pegasus.Models.SYS_EIDIKOTITESViewModel).EIDIKOTITA_DESC)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Περιφέρεια Αίτησης:</label>
            </div>
            <div class="col-md-9">
                <label class="form-control" style="max-height:34px; background-color:#EEE">@Html.Raw((ViewBag.SelectedAitisiPeriferia as Pegasus.Models.SYS_PERIFERIESViewModel).PERIFERIA_NAME)</label>
            </div>
        </div>
    </fieldset>
    <div class="row">
        @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.ForeignKey(x => x.SCHOOL_TYPE, (IEnumerable<Pegasus.DAL.SYS_SCHOOLTYPES>)ViewData["schooltypes"], "SCHOOL_TYPE_ID", "SCHOOL_TYPE").Width(60);
            columns.ForeignKey(x => x.SCHOOL, (IEnumerable<Pegasus.Models.SYS_SCHOOLSViewModel>)ViewData["schools"], "SCHOOL_ID", "SCHOOL_NAME").Width(60).EditorTemplateName("AitisiSchoolGridEditor");
        })
            .Filterable()
            .Scrollable(scr => scr.Height(200))
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(3))
            //.Events(ev => ev.Edit("onEdit"))
            .DataSource(datasource => datasource
            .Ajax()
            .Batch(true)
            .PageSize(20)
            .ServerOperation(false)
            .Events(events => events.Error("error_handler"))

            .Model(model =>
            {
                model.Id(p => p.ID);
                model.Field(p => p.SCHOOL_TYPE).DefaultValue(1);
                model.Field(p => p.SCHOOL).DefaultValue(1);
            })
            .Read(read => read.Action("Schools_Read", "AITISIS", new {aitisiID = (ViewBag.SelectedAitisiData as Pegasus.Models.AitisisViewModel).AITISI_ID}))
        )
        )
    </div>
</div>

<script type="text/javascript">

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }
</script>

<script type="text/javascript">
    function onEdit(e) {
        if (e.model.isNew()) {
            e.container.find('[data-role=combobox]').data().kendoComboBox.select(0);
        }
    }    
</script>





